@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.rdg-cell {
  /*position: relative;*/
  /*padding-block: 0;*/
  /*padding-inline: 8px;*/
  border-inline-end: 1px solid var(--rdg-border-color) !important;
  border-block-end: 1px solid var(--rdg-border-color) !important;
  /*grid-row-start: var(--rdg-grid-row-start);*/
  /*align-content: center;*/
  /*background-color: inherit;*/
  /*white-space: nowrap;*/
  /*overflow: clip;*/
  /*text-overflow: ellipsis;*/
  /*outline: none;*/
}