.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

/* Leaflet
 --------------------------------------------- */

.leaflet-container {
  height: 60vh;
  width: 100vw;
}

/* Only the necessary CSS shown */

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter:var(--map-tiles-filter, none);
  }
}

/** The non-dark mode map will be untouched since it's not styled. **/
/**
    Source: https://github.com/pkrasicki/issviewer
    Discovered via: https://github.com/openstreetmap/openstreetmap-website/issues/2332
**/

/* Range selector
 --------------------------------------------- */

#range-selector {
  height: 20vh;
  width: 80vw;
}

/* CUSTOM TEST DEBUG */
.EMRE
{
  font-size: 1rem;
}


body {
  background-color: #282c34;
  color: #abb2bf; /* Metin rengini açık gri yapıyoruz */
  font-family: Arial, sans-serif;
  font-size: 0.75rem; /* Font boyutu 0.75rem */
}

table {
  font-size: 0.7rem; /* Font boyutunu 0.75rem yapıyoruz */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #3c4048; /* Tablo arka planı */
  border: 1px solid #444c56; /* Tablo kenarlıkları */
  table-layout: fixed; /* Sütunların genişliğini eşitler ve taşmayı önler */
}

th, td {
  border: 1px solid #444c56; /* Hücre kenarlıkları */
  padding: 10px;
  text-align: left;
  color: #abb2bf; /* Metin rengi */
  word-wrap: break-word; /* Uzun metinlerin taşmasını önler */
  overflow-wrap: break-word; /* Ek taşma önlemi */
}

thead tr {
  background-color: #4b5261; /* Tablo başlıkları için arka plan */
}

tbody tr:nth-child(even) {
  background-color: #353a42; /* Zebra şerit efekti */
}

tbody tr:hover {
  background-color: #4b5261; /* Hover efekti */
  cursor: pointer;
}

th {
  font-weight: 600;
  color: #dcdfe4; /* Başlık metni için daha açık renk */
}
