/* Leaflet
 --------------------------------------------- */

.leaflet-container {
  height: 40vh;
  width: 100%;
}

/* Only the necessary CSS shown */

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter:var(--map-tiles-filter, none);
  }
}

/** The non-dark mode map will be untouched since it's not styled. **/
/**
    Source: https://github.com/pkrasicki/issviewer
    Discovered via: https://github.com/openstreetmap/openstreetmap-website/issues/2332
**/

/* Range Selector customization
  -----------------------------------------*/

._range-selector-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

._range-selector-container::-webkit-scrollbar-track {
  margin-left: 24px;
  margin-right: 24px;
  background-image: linear-gradient(to right, #ccc 50%, #fff 50%);
  background-size: 2px 100%;
}

._range-selector-container::-webkit-scrollbar-thumb {
  background-color: rgb(22 163 74);
}